<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/header">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body>

  <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Talend Manager</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="/portal/logs_db_to_ludp_tst">logs_db_to_ludp_tst</a></li>
        <li><a href="#">logs_file_to_ludp_tst</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>
    </div>
  </div>
</div>
-->
		<div id="wrapper">
        <nav th:include="nav.html">
        </nav>
           
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

<script>
document.title = 'Talend Portal';
</script>
</body>
<footer th:include="/footer">
</footer>
</html>
