<div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Talend Manager
                    </a>
                </li>
                <li>
                    <a href="/portal/index">Home</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Talend Jobs <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Talend database</li>
                    <li><a href="/portal/logs_db_to_ludp_tst">logs_db_to_ludp_tst</a></li>
                    <li><a href="#">logs_file_to_ludp_tst</a></li>
                    <li><a href="#">To</a></li>
                    <li><a href="#">Be</a></li>
                    <li><a href="#">Continue</a></li>
                  </ul>
                </li>
                <li>
                    <a href="#"> Coming</a>
                </li>
                <li>
                    <a href="#"> Soon</a>
                </li>
                <li>
                    <a href="#"> .</a>
                </li>
                <li>
                    <a href="#"> .</a>
                </li>
                <li>
                    <a href="#"> .</a>
                </li>
                <li>
                    <a href="#"> .</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        
          <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>